IaC/**/files/aws.zip
IaC/**/.aws
IaC/**/archive
IaC/**/debug-*.yml
IaC/**/collections/
IaC/**/roles/gantsign.maven/
IaC/**/roles/geerlingguy.java/
IaC/**/roles/geerlingguy.jenkins/
IaC/**/.terraform
IaC/**/terraform.tfstate
IaC/**/terraform.tfstate.backup
IaC/**/.terraform.lock.hcl
IaC/**/EPAM_Final_Project.code-workspace
